<H1>Login!</H1>

<div class="container">
  <div class="alert alert-warning" *ngIf="invalidLogin">{{ errorMessage }}</div>

  <div>
    User Name :
    <!-- ngModel is for two-way data binding: view is bound to component -->
    <input type="text" name="username" [(ngModel)]="username" />
    Password :
    <input type="password" name="password" [(ngModel)]="password" />
  </div>

  <!-- event binding - binding click event to the handleLogin() method -->
  <button (click)="handleLogin()">Login</button>
</div>
